
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == 'verse3records@gmail.com';
    }
    
    // Explicitly allow anyone to sign up for newsletter
    match /newsletterSubscriptions/{subId} {
      allow create: if true;
      allow read, list: if isAdmin();
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /purchasedProducts/{purchaseId} {
        allow read: if isOwner(userId);
        allow write: if isOwner(userId);
      }
    }

    match /demoSubmissions/{submissionId} {
      allow create: if true;
      allow read, list: if isAdmin();
      allow update, delete: if false;
    }

    match /products/{productId} {
      allow read, list: if true;
      allow write: if isAdmin();
    }

     match /orders/{orderId} {
        allow create: if true;
        allow read, update, delete, list: if isAdmin();
    }
  }
}

service firebase.storage {
  match /b/{bucket}/o {
    match /demoSubmissions/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
    match /{allPaths=**} {
        allow read: if true;
    }
  }
}
